html, body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: 'Roboto Mono', monospace;
}

/* Wrapper */
.accordion-wrapper {
    padding: 60px 62px;
    transition: background-color 0.3s;
}

/* Haupttitel */
.accordion {
    font-family: 'Pixel2', sans-serif;
    font-size: 80px;
    text-transform: uppercase;
    cursor: pointer;
    color: #666;
    margin: 0;
}

.accordion:hover {
    color: #fff;
}

/* Panel */
.panel {
    display: none;
    background-color: #eaff00;
    color: #000;
    margin: 10px 0 1px 0; /* 👈 1px schwarze Linie */
    padding: 20px 0;
}

/* Inhalt */
.panel-content {
    max-width: 800px;
    padding-left: 5px;
}

/* Text */
.panel p,
.panel li,
.panel a {
    color: inherit;
}

/* Bilder */
.panel img {
    max-width: 600px;
    display: block;
    margin-top: 40px;
}

/* Download */
.download-link {
    margin-top: 20px;
}

.download-link a {
    color: #000;
    text-decoration: underline;
}

/* ============================= */
/* Unterordner */
/* ============================= */

.subfolder-block {
    margin-bottom: 1px; /* 👈 1px schwarze Linie */
}

.subfolder-title {
    font-family: 'Pixel2', sans-serif;
    font-size: 80px;
    text-transform: uppercase;
    margin: 60px 0 20px -5px;
    line-height: 1;
}
