/* ------------------ Grundlegendes ------------------ */
html, body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    font-family: 'RobotoMono', monospace;
}

.content-wrapper {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------ Wrapper ------------------ */
.accordion-wrapper {
    width: 100%;
    padding: 60px 62px;
    transition: background-color 0.3s;
    box-sizing: border-box;
}

/* ------------------ Titel ------------------ */
.accordion {
    font-family: 'Pixel2', sans-serif;
    font-size: 80px;
    text-transform: uppercase;
    cursor: pointer;
    background: none;
    border: none;
    color: #666666;
    margin: 0;
    padding: 0;
    transition: color 0.3s;
}

.accordion:hover {
    color: #ffffff;
}

/* ------------------ Panel ------------------ */
.panel {
    display: none;
    font-size: 14px;
    line-height: 1.5;
    margin-top: 10px;
    color: #ffffff;
}

.panel p,
.panel li,
.panel a,
.panel h2,
.panel h3 {
    font-size: 14px;
    margin: 0 0 10px 0;
    color: inherit;
}

/* ------------------ Bilder ------------------ */
.panel img {
    max-width: 600px;
    height: auto;
    display: block;
    margin: 40px 0 0 0;
}

/* ------------------ Links ------------------ */
.panel a {
    text-decoration: underline;
}

.panel a:hover {
    color: #222222;
}
